ol button {
  border: 3px solid rgb(13, 209, 173);
  border-radius: 8px;
  background-color: rgb(42, 118, 184);
  margin: 3px;
  width: 100px;
  text-align: left;
}
button:hover {
  box-shadow: 2px 2px 2px #7f8585;
}
ol a {
  text-decoration: none;
  color: white;
  /* color: black; */
}
