  .book {
    margin-bottom : 40px;
    margin-right : auto;
    margin-left : auto;
    padding : 50px;
    background-color : #eee;
    border-radius : 30px;
    width : 800px;
  }
  .book .bookTitle {
    font-size: 30px;
    text-align: center;
  }
  .book .author {
    display:block;
    text-align: center;
  }
  .book .bookImage {
    display: block;
    margin-left : auto;
    margin-right : auto;
  }
